* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: lightblue;
  align-items: center;
}

nav a {
  justify-content: space-between;
  font-size: 20px;
  margin: 10px;
  padding-left: 20px;
}

div a {
    margin: 10px;
    padding-left: 20px;
  }

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
}

section {
  display: flex;
}

section h2 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  font-style: italic;
  margin: 10px;
  padding-right: 10px;
}

section div {
  flex: 4;
}

div {
  font-size: 20px;
}

@media and (min-width:768) {
  nav {
    flex-direction: column;
  }
}

.hero, {
  height: 200px;
  line-height: 350px;
  background-color: aliceblue;
  font-size: xx-large;
  text-align: end;
}

.side-bar {
  display: flex;
  background-color: aliceblue;
}

.items {
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

.footer {
  height: 100px;
  line-height: 150px;
  text-align: center;
  font-size: x-large;
  background-color: lightcyan;
}